{{publication.message}}

<small>{{publication.createdAt}}</small>

<small>{{publication.creator.name}}</small>

<a href='/meow/{{publication._id}}/edit'>Edit Meow</a>

<form method='POST' action='/meow/{{publication._id}}/delete'>
  <button>Delete Meow</button>
</form>